<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Details</title>
</head>
<body>
  <header>
    <h2>User Details</h2>
  </header>
    <dl class="details">
        <dt>Username:</dt>
            <dd>{{username}}</dd>
        <dt>First Name:</dt>
            <dd>{{firstName}}</dd>
        <dt>Last Name:</dt>
            <dd>{{lastName}}</dd>
        <dt>Profession:</dt>
            <dd>{{profession}}</dd>
        <dt>Bio:</dt>
            <dd>{{bio}}</dd>
    </dl> 
    <p class="logout-box"><a href="/logout">{{username}} want to Logout? Click Here.</a></p>
  </body>
</html>